/*General*/

* {
    font-family: 'Roboto', sans-serif;
}

variables {
  $main-color: #E44444; /* var(--main-color) */
  $second-color: #CD487B; /* var(--second-color) */
  $third-color: #EDEDED; /* var(--third-color) */
}


.main-container {
	width: 100%;
	min-width: 320px;
    max-width: 1440px;
	box-sizing: border-box;
	position: relative;
}

/*Header*/

a {
	text-decoration: none;
	color: initial;
}

.navbar__logo {
	width: 100%;
	padding: 14px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	box-shadow: 0px 2px 4px 0px #000000;
}

.navbar__logo img {
	width: 50%; 
}

#navbar__icon {
	position: relative;
	right: 15%;
	font-size: 21px;
	color: #353535;
}

.header__image img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

/*content*/

Body {
	margin: 0;
	display: flex;
	justify-content: center;
}

main {
	display: flex;
	justify-content: center;	
}

.fullicon {
	position: relative;
	cursor: pointer;
	padding: 0;
	border-style: none;
	background: none;
}

input.fullicon {
	display: none;
}

.fullicon:checked + .emptyicon::before {
	font-family: "Font awesome 6 Free";
	content: "\f004";
	font-weight: 900;
	color: #9356DC;
	transition: all 800ms;
	border-color: black;
}

.emptyicon {
	font-size: 26px;
	color: initial;
	cursor: pointer;
}

.emptyicon::before {
	font-family: "Font awesome 6 Free";
	content: "\f004";
	font-weight: 300;
	position: relative;
	top: 2px;
	transition: color 800ms;
}

.section__menu {
	width: 100%;
	position: relative;
    top: -58px;
	padding: 0px 12.5px 40px;
	background-color: #F6F6F6;
	display: grid;
	justify-items: center;
	border-style: solid;
    border-width: 0px;
	border-radius: 30px 30px 0px 0px;
}

.section__menu__title {
    width: 100%;
	display: flex;
    align-items: center;
	justify-content: center;
	gap: 33px;
}

.section__menu__title h1 {
	font-family: Shrikhand;
	font-size: 35px;
	font-style: italic;
}

.section__menu__title i {
	font-size: 26px;
}

.section__entree {
	width: 350px;
	margin-bottom: 10px;
}

.section__entree__title {
    width: 14%;
	height: 28px;
	font-size: 16px;
	font-weight: 300;
	border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: #99E2D0;
}

.section__card {
	position: relative;
	margin: 15px 0px;
	padding: 15px;
	background-color: #FFFFFF;
	border: 0px solid;
	border-radius: 15px;
	box-shadow: 0 2px 8px -4px #000000;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

.entree__slide{
	position: relative;
	animation: slide 1s both ease-out;	
}

.plats__slide{
	position: relative;
	animation: slide 2s both ease-out;
}

.desserts__slide {
	position: relative;
	animation: slide 3s both ease-out;
}

@keyframes slide {
	from {
	left: -100px;	
	}
	to {
	left: initial;	
}
}

.section__entree__text {
	display: grid;
	gap: 5px;	
}

.section__entree__text h3 {
	margin: 0;
	font-size: 18px;
	font-weight: 500;
}

.section__entree__text p {
	margin: 0;
	font-size: 14.04px;
	font-weight: 300;
}

.section__entree__subtext {
	margin: 0;
	display: flex;
	justify-content: space-between;
	white-space: nowrap;
}

.section__card:hover .section__entree__subtext {
	width: 75%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	white-space: nowrap;
}

.section__entree__subtext--euro {
	font-weight: 700;
	transition: width 2s linear;
	width: 30px;
	position: absolute;
	right: 10px;
	top: 40px;
}

.section__card:hover .section__entree__subtext--euro {
	width: 76px;
}

.section__entree__check:hover {
	width: 83%;
}
	
.section__entree__check {
	opacity: 1;
	width: 100%;
	position: relative;
	left: -16px;
	bottom: 69px;
	margin-bottom: -89px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0px 15px 15px 0px;
	transition: width 2s linear;
}

.section__entree__check p {
	color:initial;
	font-size: 17px;
	margin-left: 70px;
	margin-right: -30px;
}

.section__entree__check i {
	padding: 25px 25px 25px 18px;
	font-size: 24px;
	color: #FFFFFF;
	background-color: #99E2D0;
	border-radius: 0px 15px 15px 0px;
	opacity: 1;
	z-index: 0;
	position: relative;
	height: 29px;
	left: 74%;
}

.button {
	height: 50px;
	border: 0px;
	border-radius: 25px;
	color: #FFFFFF;
	background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
	padding: 12px 18px;
	font-size: 16px;
	font-weight: 500;
	line-height: 18.75px;
	box-shadow: 0px 4px 10px 0px rgb(0 0 0 / 40%);
	cursor: pointer;
	transition: all 400ms;
}

.button:hover {
	box-shadow:  0px 4px 10px 0px rgb(0 0 0 / 80%);
	opacity: 0.88;
}


/*Footer*/

.footer__content {
	padding: 10px 25px;
	margin-top: -58px;
	background-color: #353535
}

.footer__content__logo h1 {
	color: white;
	font-family: Shrikhand;
	font-style: italic;
	font-weight: bold;
}

ul.footer__content__list {
	padding: 0px;
}

.footer__content__list li {
	padding: 4px 0px;
	display: flex;
	gap: 12px;
	font-size: 16px;
	font-weight: 500;
	color: white;
}

.footer__content__list i {
	width: 14px;
}



/*Media queries*/
/* for tablets devices*/
@media screen and (min-width: 768px) {

.navbar__logo img {
	width: 30%; 
}

#navbar__icon {
	right: 26%;
}

.section__menu {
	width: 68%;
}

.section__entree {
	width: 90%;
}
}

/* for desktop devices*/

@media screen and (min-width: 1024px) {

.navbar__logo img {
	width: 14%; 
}

#navbar__icon {
	right: 35%;
}

.section__menu {
	width: 68%;
	margin-bottom: 0;
	padding: 0px 30px 30px;
	box-sizing: border-box;
}

.section__entree {
	width: 68%;
}

.section__entree__check:hover {
	width: 85%;
}

.section__card:hover .section__entree__subtext--euro {
	width: 88px;
}


.section__entree__check i {
	padding: 25px;
	left: 67%;
}

.button {
	width: 18%;
}

.footer__content {
	display: flex;
    flex-direction: row-reverse;
	margin-top: -58px;
}

ul.footer__content__list {
    margin-right: 80px;
	gap: 20px;
	display: flex;
    align-items: center;
}

/*Footer*/

.footer__content {
	padding: 25px;
	background-color: #353535
}

.footer__content__logo h1 {
	color: white;
	font-family: Shrikhand;
	font-style: italic;
	font-weight: bold;
}

ul.footer__content__list {
	padding: 0px;
}

.footer__content__list li {
	padding: 4px 0px;
	display: flex;
	gap: 12px;
	font-size: 16px;
	font-weight: 500;
	color: white;
	
}

.footer__content__list i {
	width: 14px;
}
}